<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <title>angular student basic</title>
    <script src="../js/angular.min.js"/>
    <script>
        function studentController($scope) {
            $scope.student = {
                firstName: "Mahesh",
                lastName: "Parashar",
                fullName: function () {
                    var studentObject;
                    studentObject = $scope.student;
                    return studentObject.firstName + ":" + studentObject.lastName;
                }
            };
        }
    </script>
    <style>
        table,th,td {
            border: 1px solid green;
            borderr-collapse:collapse;
            padding: 5px;
        }

        table tr:nth-child(odd){
            background-color: #f2f2f2;
        }

        table tr:nth-child(even){
            background-color: #ffffff;
        }
    </style>

</head>
<body>
<div ng-app="" ng-controller="studentController">
    Enter first name: <input type="text" ng-model="student.firstName"><br>
    <br> Enter last name:
    <input type="text" ng-model="student.lastName"><br>
    <br>
    You are entering: {{student.fullName()}}

    <table>
        <tr>
            <td>Enter First Name:</td>
            <td><input type="text" ng-model="student.firstName"></td>
        </tr>
        <tr>
            <td>Enter Last Name:</td>
            <td><input type="text" ng-model="student.lastName"></td>
        </tr>
        <tr>
            <td>Entered fullName:</td>
            <td>{{student.fullName()|uppercase}}</td>
        </tr>
    </table>
    <input type="checkbox" ng-model="enableDisableButton">disable Button
    <button ng-disabled="enabledDisabledButton">Click Me!</button>
    <p>Total click: {{ clickCounter }}</p>
    <button ng-click ="clickCounter=clickCounter+1">Click Me!!!</button>
</div>

</body>
</html>