<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Angular First Application</title>
    <script src="../js/angular.min.js"></script>
</head>
<body ng-app="">
<h1>Sample AngularJS Application</h1>

<div  ng-init="countries=[{locale:'en-US',name:'United States'},
{locale:'en-GB',name:'United Kingdom'},
{locale:'en-FR',name:'France'}]">

    <p>Enter your Name: <input type="text" ng-model="name"></p>

    <p>Hello <span ng-bind="name"></span>!</p>
    <p>List of Countries with locale:</p>
    <ol>
        <li ng-repeat="country in countries">
            {{ 'Country: ' + country.name + ', Locale: ' + country.locale }}
        </li>
    </ol>
</div>

<div ng-init="quantity=30;cost=20;student={firstname:'simon',lastname:'patrick'};marks=[12,34,56,56]">
 <p>hello {{ student.firstname }}</p>
 <p>hello {{ student.lastname }}</p>
 <p>Expense on books: {{ cost*quantity }}</p>
 <p>Marks(Math):{{marks[1]}}</p>
</div>
</body>
</html>