<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="StatPropertyMapper">
	<!--批量：全量更新已经存在统计信息-->
	<update id="updateStatePropertys">
		--临时表
		select
				p.propertyId,
				p.saleStatus,
				p.rentStatus
			into #propertyOnline
			from  agencyjizhong.dbo.property p  with(nolock)
			where p.FlagTrashed = 0 and p.FlagDeleted = 0
				and (p.saleStatus='出售' or p.rentStatus='出租') and (p.specialStatus is null or p.specialStatus = '')
				and exists (
						select b.BuildingID from building b with(nolock)
						inner join estate e with(nolock) on e.EstateID = p.EstateID AND e.EstateID = b.EstateID
						where
							b.estateId = p.estateId and b.buildingName = p.address
							and b.FlagTrashed = 0 and b.FlagDeleted = 0
							and e.FlagTrashed = 0 and e.FlagDeleted = 0 and e.IsHidden = 0
					);

			declare @day7 int;
			declare @date7ago date;
			declare @date1ago date;
			declare @dateToday date;
			set @day7 = 7;
			set @date7ago = CONVERT(VARCHAR(10), GETDATE() - @day7, 120);
			set @date1ago =  DATEADD(day,6,@date7ago);
			set @dateToday =  DATEADD(day,7,@date7ago);
			update sp
			set
				sp.lookCountAll = sp.lookCountAll + isnull(lc.lookCountYesterday,0), --房子总带看
				sp.lookCount7Days = isnull(lc.lookCount7Days,0), --房子7天带看总量
				sp.pageViewCountAll = sp.pageViewCountAll + isnull(pvc.pageViewCountYesterday,0),--总浏览量
				sp.pageViewCount7Days = isnull(pvc.pageViewCount7Days,0),--房子7天浏览量
				sp.updateTime = getdate() --更新时间
			from [dbo].[StatProperty] sp
			--7天及昨天带看
			left join
			(
				select
					count(0) as lookCount7Days ,
					SUM(case when tw.lookTime >= @date1ago then 1 else 0 end ) as lookCountYesterday,
					p.propertyId
				from [keyuan].[dbo].V_InquiryTakeWatch tw  with(nolock)
				inner join #propertyOnline p on tw.propertyId = p.PropertyID
				where tw.takeType = '二手' and p.saleStatus='出售' and tw.lookTime >= @date7ago and tw.lookTime &lt; @dateToday
				group by p.propertyId

			) lc on sp.propertyId = lc.propertyId

			--7天及昨天浏览量
			left join
			(
				SELECT
					SUM(ppv.pageViewCount)  AS pageViewCount7Days,
					SUM(case when ppv.viewTime >= @date1ago then ppv.pageViewCount else 0 end ) as pageViewCountYesterday,
					p.propertyId as propertyId
				from PropertyPageView ppv  with(nolock)
				inner join #propertyOnline p on ppv.propertyId = p.propertyId
				where  ppv.viewTime >=  @date7ago and ppv.viewTime  &lt;  @dateToday
				group by p.PropertyID
			)pvc on pvc.propertyId = sp.propertyId;

		drop table #propertyOnline;
	</update>
	<!-- 批量：全量插入新增的统计信息-->
	<update id="insertStatPropertys">
		--临时表
		select
			p.propertyId,
			p.saleStatus,
			p.rentStatus
		into #propertyOnline
		from  agencyjizhong.dbo.property p  with(nolock)
		where p.FlagTrashed = 0 and p.FlagDeleted = 0
			and (p.saleStatus='出售' or p.rentStatus='出租') and (p.specialStatus is null or p.specialStatus = '')
			and exists (
					select b.BuildingID from building b with(nolock)
					inner join estate e with(nolock) on e.EstateID = p.EstateID AND e.EstateID = b.EstateID
					where
						b.estateId = p.estateId and b.buildingName = p.address
						and b.FlagTrashed = 0 and b.FlagDeleted = 0
						and e.FlagTrashed = 0 and e.FlagDeleted = 0 and e.IsHidden = 0
				);


		declare @day7 int;
		declare @date7ago date;
		declare @date1ago date;
		declare @dateToday date;
		set @day7 = 7;
		set @date7ago = CONVERT(VARCHAR(10), GETDATE() - @day7, 120);
		set @date1ago =  DATEADD(day,6,@date7ago);
		set @dateToday =  DATEADD(day,7,@date7ago);
		insert into [StatProperty](
				propertyId,
				lookCountAll,
				lookCount7Days,
				pageViewCountAll,
				pageViewCount7Days,
				createTime,
				updateTime
			)
		select
				p2.propertyId,
				isnull(lca.lookCountAll,0), --房子总带看
				isnull(lc.lookCount7Days,0), --房子7天带看总量
				isnull(pvc.pageViewCount7Days,0),--房子总浏览量
				isnull(pvc.pageViewCount7Days,0),--房子7天浏览量
				getdate(), --创建时间
				getdate() --更新时间
		from #propertyOnline p2
			--总带看
			left join
			(
				select
					count(0) as lookCountAll,
					p.propertyId
				from [keyuan].[dbo].V_InquiryTakeWatch tw  with(nolock)
				inner join #propertyOnline p on tw.propertyId = p.PropertyID
				where tw.takeType = '二手' and p.saleStatus='出售'
				group by p.propertyId
			) lca on p2.propertyId = lca.propertyId
			--7天带看
			left join
			(
				select
					count(0) as lookCount7Days ,
					p.propertyId
				from [keyuan].[dbo].V_InquiryTakeWatch tw  with(nolock)
				inner join #propertyOnline p on tw.propertyId = p.PropertyID
				where tw.takeType = '二手' and p.saleStatus='出售' and tw.lookTime >= @date7ago and tw.lookTime &lt;  @dateToday
				group by p.propertyId
			) lc on p2.propertyId = lc.propertyId
			--7天浏览量
			left join
			(
				SELECT
					SUM(ppv.pageViewCount)  AS pageViewCount7Days,
					SUM(case when ppv.viewTime >= @date1ago then ppv.pageViewCount else 0 end ) as pageViewCountYesterday,
					p.propertyId as propertyId
				from PropertyPageView ppv  with(nolock)
				inner join #propertyOnline p on ppv.propertyId = p.propertyId
				where  ppv.viewTime >=  @date7ago and ppv.viewTime &lt; @dateToday
				group by p.propertyId
			)pvc on pvc.propertyId = p2.propertyId
			where --统计表中不存在，且出售的房子
				not exists (
					select
						sp2.propertyId
					from [StatProperty]  sp2 where p2.propertyId = sp2.propertyId
				);

			drop table #propertyOnline;
	</update>
</mapper>