<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="VipPropertyContactMapper">
	
	<select id="queryVipContactCount" resultType="int">
		select count(1) from v_Property_Contact with(nolock) where status = 0
	</select>

	<select id="queryVipContactList" resultType="com.dooioo.vip.model.VipPropertyContact">
		<include refid="CommonMapper.Pagination_Head" />
		select * from v_Property_Contact v with(nolock) where status = 0
		<include refid="CommonMapper.Pagination_Foot" />
		<if test="orderby !=null">
			order by ${orderby}
		</if>
	</select>

	<select id="queryVipContactYesterday" resultType="com.dooioo.vip.model.VipPropertyContact">
		select * from v_Property_Contact with (nolock) where datediff(day,createdAt,getdate()) = 1 or datediff(day,updatedAt,getdate()) = 1 
	</select>
	
	<select id="queryVipContact" resultType="com.dooioo.vip.model.VipPropertyContact">
		select top 2000 * from v_Property_Contact with (nolock) 
		where 1=1
		<if test="phoneNumber !=null">
			 and phoneNumber = #{phoneNumber} 
		</if>
		<if test="propertyId !=null">
			 and propertyId = #{propertyId} 
		</if>
	</select>
</mapper>