<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="DeletedRecordMapper">

    <insert id="insert" parameterType="map">
        INSERT INTO dbo.DeletedRecord ( recordType, relationId, empNo, createdDate, status)
        Values( 'property', #{relationId}, #{empNo}, getdate(), 1)
    </insert>
</mapper>