<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="FilterPhoneMapper">

    <insert id="insert" parameterType="map">
		INSERT INTO dbo.filterPhone ( phone, jiamiPhone, type, createdAt, phoneSource,userName,empNo)
		Values( #{phone}, #{jiamiPhone}, #{type}, getdate(), #{phoneSource},#{userName},#{empNo})
	</insert>

    <delete id="deleteDooioo">
        DELETE FROM dbo.filterPhone WHERE phoneSource = 2
    </delete>
    
    
    <select id="findByPhoneNumber" resultType="FilterPhoneView">
    	select * from filterPhone with(nolock) where jiamiPhone = #{jiamiPhone} and phoneSource = 1
    </select>
    

</mapper>