<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PictureWarnMapper">

    <insert id="insert" >
        insert into PictureWarn
        	(propertyId ,  empNo  )
        values
        	(#{propertyId} , #{empNo} )
    </insert>

    <select id="list"  resultType="PictureWarnView">
    	<include refid="CommonMapper.Pagination_Head"/>
          select pw.* ,vP.EstateName,vP.Building,vP.RoomNo,emp.userName as userNameCn
  			from PictureWarn pw WITH (NOLOCK)
  					inner join v_property vP WITH (NOLOCK) on pw.propertyId = vP.propertyId
	  					<if test="status !=null ">
	    					and pw.status = #{status}
	    				</if>
  					LEFT OUTER JOIN oms.dbo.v2_employee_final emp WITH (NOLOCK) on pw.empNo = emp.userCode
        <include refid="CommonMapper.Pagination_Foot"/>
    </select>


 	<select id="count"  resultType="int">
    	select count(1)
  			from PictureWarn pw WITH (NOLOCK)
  					inner join v_property vP WITH (NOLOCK) on pw.propertyId = vP.propertyId
	  					<if test="status !=null ">
	    					and pw.status = #{status}
	    				</if>
  					LEFT OUTER JOIN oms.dbo.v2_employee_final emp WITH (NOLOCK) on pw.empNo = emp.userCode
    </select>

    <select id="selectByPropertyId"  resultType="PictureWarn">
     	select * 
        from PictureWarn WITH (NOLOCK)
       	where propertyId = #{propertyId}
    </select>
    
    <select id="countEffective"   resultType="int">
     	select count(1)
        from PictureWarn WITH (NOLOCK)
       	where propertyId = #{propertyId} and status =0
    </select>
    
    <update id = "update">
    	update PictureWarn
    	<set>
    		<if test="status!=null and empNo!=null">
    			status = #{status},empNo = #{empNo},operatedAt = getdate()
    		</if>
    	</set>
    	where propertyId = #{propertyId}
    </update>

</mapper>