<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PropertySaleEmpAllocateMapper">

    <select id="queryByVersionPropertyId" resultType="PropertySaleEmpAllocate">
        SELECT * FROM  PropertySaleEmpAllocate with(nolock) WHERE propertyId=#{propertyId} and version =#{version}
    </select>
    
    <select id="queryByVersionStatusType" resultType="PropertySaleEmpAllocate">
        SELECT * FROM  PropertySaleEmpAllocate with(nolock) WHERE status=#{status} and version =#{version} and type=#{type}
    </select>
	
     <insert id="insert" >
        insert into PropertySaleEmpAllocate
        (propertyId , status , type , message,oldSaleEmpNo,newSaleEmpNo,version,createdAt,updatedAt )
        values
        (#{propertyId} , #{status}, #{type} , #{message}, #{oldSaleEmpNo}, #{newSaleEmpNo},#{version},getdate(),getdate())
    </insert>
    
     <update id = "update">
    	update PropertySaleEmpAllocate
    	set status = #{status},
    			type = #{type},
    			message=#{message},
    			oldSaleEmpNo=#{oldSaleEmpNo},
    			newSaleEmpNo=#{newSaleEmpNo},
    		updatedAt = getdate()
    	where propertyId = #{propertyId} and version =#{version}
    </update>
    
</mapper>