<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PropertyChangeLimitOwnerMapper">
	<insert id="insert" parameterType="PropertyChangeLimitOwner">
			<selectKey keyProperty="id" resultType="int" order="AFTER">
				select
				@@IDENTITY
			</selectKey>
		insert into PropertyChangeLimitOwner(
		propertyId,limitSellEntrustApplyId,status,applyReason,empNo, applyEmpNo,createdAt,updatedAt
		) values(#{propertyId},#{limitSellEntrustApplyId},0,#{applyReason}
		,#{empNo},#{applyEmpNo},getDate(),getDate())
	</insert>

  <!--根据速销Id查询待审核的速销方变更申请 -->
  <select id="queryCheckingChangeLimitOwnerBylimitId" resultType="PropertyChangeLimitOwner">
    select top 1 * from PropertyChangeLimitOwner with(nolock) where limitSellEntrustApplyId=#{limitSellEntrustApplyId} and status =0 order by id desc
  </select>
  
  <select id="queryListBylimitId" resultType="PropertyChangeLimitOwner">
    select * from PropertyChangeLimitOwner with(nolock) where limitSellEntrustApplyId=#{limitSellEntrustApplyId} order by id asc
  </select>
  
  <select id="selectById" resultType="PropertyChangeLimitOwner">
    select top 1 * from PropertyChangeLimitOwner with(nolock) where id=#{id}
  </select>
  
  <update id="updateChangeLimitOwnerStatus">
    update PropertyChangeLimitOwner set status =#{status},updatedAt=getDate() where id = #{id}
  </update>
</mapper>