<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="VipMsgTemplateMapper">

	<!--根据id查询单条未删除的短信模版-->
	<select id="selectVipMsgTemplate" resultType="com.dooioo.vip.model.VipMsgTemplate" parameterType="string">
		select
		id,
		msgType,
		msgTemplate,
		empNo,
		createdAt,
		updatedAt,
		status
		from VipMsgTemplate a with(nolock)
		where status = 1 AND msgType = #{msgType}
	</select>
	<!--根据id查询单条未删除的短信模版-->
	<select id="selectVipMsgTemplateById" resultType="com.dooioo.vip.model.VipMsgTemplate" parameterType="int">
		select
			id,
			msgType,
			msgTemplate,
			empNo,
			createdAt,
			updatedAt,
			status
		from VipMsgTemplate a with(nolock)
		where status = 1 AND id = #{id}
	</select>
	<!--查询所有未删除的短信模版-->
	<select id="queryVipMsgTemplateList" resultType="com.dooioo.vip.model.VipMsgTemplate">
		select
		    id,
			msgType,
			msgTemplate,
			empNo,
			createdAt,
			updatedAt,
			status
		from VipMsgTemplate a with(nolock)
		where status = 1
	</select>
	
	<!--插入短信模版-->
	<insert id="insertVipMsgTemplate">
		insert into VipMsgTemplate (
				msgType,
				msgTemplate,
				empNo,
				createdAt,
				updatedAt,
				status
		)
		values (
			#{msgType},
			#{msgTemplate},
			#{empNo},
			GETDATE(),
			GETDATE(),
			1
		)
	</insert>

	<!--更新短信模版-->
	<update id="updateVipMsgTemplate">
		update VipMsgTemplate
		set
			msgTemplate= #{msgTemplate},
			empNo = #{empNo},
			updatedAt = getdate()
		where id = #{id}
	</update>
</mapper>