<p class="grey999">区域：<a href="javascript:;" ng-class="{current: params.district == ''}"
                         ng-click="params.district=''; params.area=''" class="current">不限</a>
    <!-- ngRepeat: district in dictionary.districts --><a href="javascript:;"
                                                          ng-class="{current: district == params.district}"
                                                          ng-repeat="district in dictionary.districts"
                                                          ng-click="loadAreas(district)"
                                                          class="ng-scope ng-binding">静安</a><a href="javascript:;"
                                                                                               ng-class="{current: district == params.district}"
                                                                                               ng-repeat="district in dictionary.districts"
                                                                                               ng-click="loadAreas(district)"
                                                                                               class="ng-scope ng-binding">徐汇</a><a
            href="javascript:;" ng-class="{current: district == params.district}"
            ng-repeat="district in dictionary.districts" ng-click="loadAreas(district)"
            class="ng-scope ng-binding">卢湾</a><a href="javascript:;" ng-class="{current: district == params.district}"
                                                 ng-repeat="district in dictionary.districts"
                                                 ng-click="loadAreas(district)" class="ng-scope ng-binding">黄浦</a><a
            href="javascript:;" ng-class="{current: district == params.district}"
            ng-repeat="district in dictionary.districts" ng-click="loadAreas(district)"
            class="ng-scope ng-binding">长宁</a><a href="javascript:;" ng-class="{current: district == params.district}"
                                                 ng-repeat="district in dictionary.districts"
                                                 ng-click="loadAreas(district)" class="ng-scope ng-binding">普陀</a><a
            href="javascript:;" ng-class="{current: district == params.district}"
            ng-repeat="district in dictionary.districts" ng-click="loadAreas(district)"
            class="ng-scope ng-binding">浦东</a><a href="javascript:;" ng-class="{current: district == params.district}"
                                                 ng-repeat="district in dictionary.districts"
                                                 ng-click="loadAreas(district)" class="ng-scope ng-binding">宝山</a><a
            href="javascript:;" ng-class="{current: district == params.district}"
            ng-repeat="district in dictionary.districts" ng-click="loadAreas(district)"
            class="ng-scope ng-binding">闸北</a><a href="javascript:;" ng-class="{current: district == params.district}"
                                                 ng-repeat="district in dictionary.districts"
                                                 ng-click="loadAreas(district)" class="ng-scope ng-binding">杨浦</a><a
            href="javascript:;" ng-class="{current: district == params.district}"
            ng-repeat="district in dictionary.districts" ng-click="loadAreas(district)"
            class="ng-scope ng-binding">虹口</a><a href="javascript:;" ng-class="{current: district == params.district}"
                                                 ng-repeat="district in dictionary.districts"
                                                 ng-click="loadAreas(district)" class="ng-scope ng-binding">闵行</a><a
            href="javascript:;" ng-class="{current: district == params.district}"
            ng-repeat="district in dictionary.districts" ng-click="loadAreas(district)"
            class="ng-scope ng-binding">金山</a><a href="javascript:;" ng-class="{current: district == params.district}"
                                                 ng-repeat="district in dictionary.districts"
                                                 ng-click="loadAreas(district)" class="ng-scope ng-binding">嘉定</a><a
            href="javascript:;" ng-class="{current: district == params.district}"
            ng-repeat="district in dictionary.districts" ng-click="loadAreas(district)"
            class="ng-scope ng-binding">崇明</a><a href="javascript:;" ng-class="{current: district == params.district}"
                                                 ng-repeat="district in dictionary.districts"
                                                 ng-click="loadAreas(district)" class="ng-scope ng-binding">奉贤</a><a
            href="javascript:;" ng-class="{current: district == params.district}"
            ng-repeat="district in dictionary.districts" ng-click="loadAreas(district)"
            class="ng-scope ng-binding">松江</a><a href="javascript:;" ng-class="{current: district == params.district}"
                                                 ng-repeat="district in dictionary.districts"
                                                 ng-click="loadAreas(district)" class="ng-scope ng-binding">青浦</a><a
            href="javascript:;" ng-class="{current: district == params.district}"
            ng-repeat="district in dictionary.districts" ng-click="loadAreas(district)"
            class="ng-scope ng-binding">南汇</a><a href="javascript:;" ng-class="{current: district == params.district}"
                                                 ng-repeat="district in dictionary.districts"
                                                 ng-click="loadAreas(district)" class="ng-scope ng-binding">上海周边</a>
</p>